*{
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,section {
    padding: 10px;
}

div {
    margin-bottom: 20px;
}
label {
    
    font-size: 18px;
    padding-bottom: 15px;
}
input, textarea {
    border: solid 2px rgb(166, 166, 168);
    display: block;
    padding: 8px 15px 8px 15px;
    width: 400px;
}

input:hover, textarea:hover {
    border-color:rgb(135, 135, 138);
}

#idText03 {
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
}

h1 {    
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

section nav {
    background-color: #4d4a4a;
    padding: 10px 0;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center; 
}

ul li {
    margin: 5px 5px;
    display: inline-block;
}

ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #237ddd;
    color: white;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
}

ul li a:hover {
background-color: #1768be;
}

ul li a:active {
    background-color: #094788;
}


main {
    padding: 25px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section>img {
    width: 50%;
}



